{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'home/blog.css' %}" type="text/css">

  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'home/home.css' %}" type="text/css">

    {% block css %}

    {% endblock css %}

{% block head %}
  <title>Goodbuy</title>
{% endblock head %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/" class="logo">
      <img src="https://sherrill.de/goodbuy/images/logo+name.png" alt="Goodbuy Logo">
    </a>
    <!-- <a class="navbar-brand" href="/"> Goodbuy </a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="{% url 'accounts:user_profile' %}" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile</a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{% url 'accounts:user_profile' %}"> Show Profile </a>
               <a class="dropdown-item" href="{%url 'accounts:edit_user_profile' %}"> Edit Profile </a>
               <a class="dropdown-item" href="{% url 'accounts:change_password' %}"> Change Password </a>
             </div>
          </li>
          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="{% url 'accounts:user_profile' %}" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Scan</a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
               <a class="dropdown-item" href="{% url 'codeScanner:codeScanner' %}"> Code Scanner </a>
               <a class="dropdown-item" href="{% url 'logograb:home' %}"> Logo Grab </a>
          </li>
          {% if user.is_superuser %}
          <li class="nav-item">
             <a class="nav-link" href="/admin"> Admin Panel </a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{% url 'goodbuyDatabase:product_list' %}"> Product List </a>
          </li>
          {% endif %}
        </ul>
        <ul class="nav nvabar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}"> Log Out </a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="nav nvabar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}"> Login </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'register'%}"> Register <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="{% url 'accounts:password_reset' %}"> Reset Password </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% block body %}
      <h1>Anthony Base</h1>
    {% endblock body %}
  </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
  </script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">
  </script>
</html>
