beautifulsoup4==4.8.1
boto==2.49.0
boto3==1.9.150
botocore==1.12.156
certifi==2019.3.9
chardet==3.0.4
dj-database-url==0.5.0
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-storages==1.7.1
Django==2.2.5
docutils==0.14
freeze==1.0.10
gunicorn==19.9.0
heroku==0.1.4
idna==2.8
jmespath==0.9.4
Pillow==5.4.1
psycopg2==2.8.2
python-dateutil==2.8.0
pytz==2018.9
redis==3.3.11
requests==2.21.0
rq==1.1.0
s3transfer==0.2.0
selenium==3.141.0
six==1.12.0
urllib3==1.24.1
whitenoise==4.1.2
selenium==3.141.0
rq==1.1.0
redis==3.3.11
django-cors-headers==3.2.0
