#logoGrabWebScannerButton {
    max-height: 3%;
    margin: 25% 45%;
  }
#stage_result {
  margin: auto;
}

#wrapper {
  margin-left: 25%;
}
#btn-container {
  text-align: center;
}
#btn-snap{
  max-height: 5%;
  margin-left: 22.5%;

}