#logoGrabWebScannerButton {
    max-height: 5%;
    margin: 25% 45%;
    border-radius: 27px;
    background-color: lightblue;
}
#stage_result {
  margin: auto;
}

#wrapper {
  margin-left: 25%;
}
#btn-container {
  text-align: center;
}
#btn-snap{
  max-height: 5%;
  margin-left: 22.5%;

}