{% extends "base.html" %}

{% block head %}

    <meta charset="UTF-8">
    <title>Scandit Web SDK</title>

    <!--
        Add the library, as explained on http://docs.scandit.com/stable/web/index.html
    -->
    <script src="https://unpkg.com/scandit-sdk"></script>
    <!-- or -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk"></script> -->
    <!-- or -->
    <!-- <script src="https://unpkg.com/scandit-sdk@1.0.5"></script> -->
    <!-- or -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@1.0.5"></script> -->
    <!-- or -->
    <!-- <script src="/node_modules/scandit-sdk/build/browser/index.min.js"></script> -->

    {% block css %}
      {% load static %}
      <link rel="stylesheet" href="{% static 'mvpScanWebApp/style.css' %}" type="text/css">
    {% endblock %}

{% endblock %}

{% block body %}
<div class="container">
    <!-- Containers for the picker and the results -->
    <div id="scandit-barcode-picker"></div>
    <div id="scandit-barcode-result">No codes scanned yet</div>
    <!-- Button to continue scanning after a barcode was scanned -->
    <button class="btn btn-outline-primary" id="continue-scanning-button" onclick="continueScanning()">Continue Scanning</button>

    <script>
        // Helper function called when the "Continue Scanning" button is clicked
        function continueScanning() {
            if (picker) {
                continueButton.disabled = true;
                // Resume scanning
                picker.resumeScanning();
            }
        }
        // Configure the library and activate it with a license key
        const licenseKey = "AfHc11heRbwJD5nC6yuWn3I14pFUOfSbfn1n6uJZdFucYhos5mwva6ZMvdtXI0rVQRC9z71XTDtzBclEQ3Vg3/8gHDxHR5ib2T5SGnwlwSpIfA/iK2j43twoNe8+M85xs0ETTWwE1fYq2vInv+XwI3+eLdSUDYP5DS3KLQzr4cqv7k/iGkC7j7r1ijkCwQr2tm9EuZBP/6Dwh7O2gvvxuovvzla4jgs25HyAWk2KIIOfRtWyh5941/tn/eaIWUd9vu1Rcx8E2x9lpPXfolMm7B8HT/a2tpFZkay+sPxjxNKXuQHrvD12f/YhVtORELuf4/ckL+zcmSy2KzqASE5o6FQCUQnwGVYKIlOpK69MbtU8SWlJL4HY3bUjpoodzxvhbZOKL6LuN+b4zFDRUbtGfMSqOXEe4ErsztkkL/H7nWj7pY5FhlzMkDYPFlTrTZRlaBMUaTZrUURHXaOhEnDMsXw1hJrfi0dZn7ZCu74uO6azuM/U1G5KOR2xPc2n5NIsnxBwmln8/qkZSWLKxUSFh5OJdwQwDJq4sjjPg2odkodGh/hlMloHB8WrzTeAb5F/EKsq1NJc/7nTVaJbyVwsX2+wfAWACfgPQsBU64kk1boRjQkRHkgNTJc1QNaNGp0WU4U42SVasFrKVZab8kqlUcWAfliusDtL6+sq9TOTZ87fYbX8tuI9Okono+QRSNhhvoQIBEa6nXv2rpbfzYoV8u5Zl7z276KMovocm7RowW37zfjkDVsMda1clBoIRhoZ61HuXKx3vuyI9IViRIP46T6PSSfymPOPDHOVQxrKhhPMZFg=";
        // const engineLocation = "build"; // the folder containing the engine
        // or, if using a CDN,
        const engineLocation = "https://unpkg.com/scandit-sdk/build"
        ScanditSDK.configure(licenseKey, { engineLocation: engineLocation });
        const scannerContainer = document.getElementById("scandit-barcode-picker");
        const resultContainer = document.getElementById("scandit-barcode-result");
        const continueButton = document.getElementById("continue-scanning-button");
        continueButton.disabled = true;
        continueButton.hidden = true;
        let picker;
        // Create & start the picker
        ScanditSDK.BarcodePicker.create(scannerContainer, {
                playSoundOnScan: true,
                vibrateOnScan: true
            })
            .then(barcodePicker => {
                picker = barcodePicker;
                // Create the settings object to be applied to the scanner
                const scanSettings = new ScanditSDK.ScanSettings({
                    enabledSymbologies: ["ean8", "ean13", "upca", "upce", "code128", "code39", "code93",
                        "itf"
                    ],
                    codeDuplicateFilter: 1000
                });
                picker.applyScanSettings(scanSettings);
                // If a barcode is scanned, show it to the user and pause scanning
                // (scanning is resumed when the user clicks "Continue Scanning")
                picker.onScan(scanResult => {
                    continueButton.hidden = false;
                    continueButton.disabled = false;
                    picker.pauseScanning();
                    resultContainer.innerHTML = scanResult.barcodes.reduce((string, barcode) =>
                        string +
                        `${ScanditSDK.Barcode.Symbology.toHumanizedName(barcode.symbology)}: ${barcode.data}<br>`,
                        '');
                });
                picker.onScanError(error => {
                    console.error(error.message);
                });
                picker.resumeScanning();
            })
            .catch(error => {
                alert(error);
            });
    </script>
</div>
{% endblock %}
