{% extends "base.html" %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}" type="text/css">
{% endblock %}

{% block head %}
  <title>Product Details</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{rating}}</h1>
    <h1>{{total}}</h1>
    <h1>{{ product.name }}</h1>
    <p>Name: {{ product.name }}</p>
    <p>Code: {{ product.code }}</p>

    <p>Rating environment: {{ rating.environment }}</p>
    <p>Rating Animals: {{ rating.animals }}</p>
    <p>Rating Humans: {{ rating.humans }}</p>
    <div class="container"><h1>{{rating_result}} </h1></div>
    <div class="">

    </div>

    <div class="row">
      <div class="col-sm-4" id="envtitle">
        {% if rating.environment >= 7 %}
        <img src="http://sherrill.de/goodbuy/images/earth_happy.png" alt="" height="150">
        {% elif rating.environment >= 4 %}
        <img src="http://sherrill.de/goodbuy/images/earth_hurt.png" alt="" height="150">
        {% elif rating.environment >= 1 %}
        <img src="http://sherrill.de/goodbuy/images/earth_dead.png" alt="" height="150">
        {% else %}
        <img src="http://sherrill.de/goodbuy/images/no_rating.png" alt="" height="150">
        {% endif %}
      </div>
      <div class="col-sm-4" id="anititle">
        {% if rating.animals >= 7 %}
        <img src="http://sherrill.de/goodbuy/images/bird_happy.png" alt="" height="150">
        {% elif rating.animals >= 4 %}
        <img src="http://sherrill.de/goodbuy/images/bird_hurt.png" alt="" height="150">
        {% elif rating.animals >= 1 %}
        <img src="http://sherrill.de/goodbuy/images/bird_dead.png" alt="" height="150">
        {% else %}
        <img src="http://sherrill.de/goodbuy/images/no_rating.png" alt="" height="150">
        {% endif %}
      </div>
      <div class="col-sm-4" id="humtitle">
        {% if rating.humans >= 7 %}
        <img src="http://sherrill.de/goodbuy/images/girl_happy.png" alt="" height="150">
        {% elif rating.humans >= 4 %}
        <img src="http://sherrill.de/goodbuy/images/girl_hurt.png" alt="" height="150">
        {% elif rating.humans >= 1 %}
        <img src="http://sherrill.de/goodbuy/images/girl_dead.png" alt="" height="150">
        {% else %}
        <img src="http://sherrill.de/goodbuy/images/no_rating.png" alt="" height="150">
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id="envsym">
        <p>Envirement</p>
      </div>
      <div class="col-sm-4" id="anisym">
        <p>Animals</p>
      </div>
      <div class="col-sm-4" id="humsym">
        <p>Humans</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" id="envtxt">
        <p>
          Envirement Envirement Envirement Envirement Envirement Envirement
          Envirement Envirement Envirement Envirement Envirement Envirement
          Envirement Envirement Envirement Envirement Envirement Envirement
        </p>
      </div>
      <div class="col-sm-4" id="anitxt">
        <p>
          Animals Animals Animals Animals Animals Animals Animals Animals
          Animals Animals Animals Animals Animals Animals Animals Animals
          Animals Animals Animals Animals Animals Animals Animals Animals
        </p>
      </div>
      <div class="col-sm-4" id="humtxt">
        <p>
          Humans Humans Humans Humans Humans Humans Humans Humans Humans Humans
          Humans Humans Humans Humans Humans Humans Humans Humans Humans Humans
          Humans Humans Humans Humans Humans Humans Humans Humans Humans Humans
        </p>
      </div>
    </div>

</div>
{% endblock %}
