{% extends "foundation.html" %}
{% block body %}
<div class="container">
<p>Id: {{ id }}</p>
<p>Name: {{ name }}</p>
<p>Logo: {{ logo }}</p>
<p>Wiki: {{ wiki }}</p>
<p>Code: {{ code }}</p>
<p>Productgroup: {{ group }}</p>
<p>Maincategory: {{ main_category }}</p>
<p>Subcategory: {{ sub_category }}</p>
<p>Brand: {{ brand }}</p>
<p>Concern: {{ corporation }}</p>
<p>Image: {{ image }}</p>
<p>Concern_Rating: {{ rating }}</p>
<p>Created: {{ created }}</p>
<p>Updated: {{ updated }}</p>
<p>Concern-origin: {{ corporation_origin }}</p>
</div>
{% endblock %}
