{% extends "base.html" %}

{% block head %}

    <meta charset="UTF-8">
    <title>Scandit Web SDK</title>

    <!--
        Add the library, as explained on http://docs.scandit.com/stable/web/index.html
    -->
    <!-- <script src="https://unpkg.com/scandit-sdk"></script> -->
    <!-- or -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk"></script> -->
    <!-- or -->
    <!-- <script src="https://unpkg.com/scandit-sdk@1.0.5"></script> -->
    <!-- or -->
    <!-- Used to use the next line, because the scanner just worked on a certaint version 4.2.2-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@4.2.2"></script> -->
    <script src="https://unpkg.com/scandit-sdk"></script>
    <!-- or -->
    <!-- <script src="/node_modules/scandit-sdk/build/browser/index.min.js"></script> -->


{% endblock %}

{% block body %}
    <!-- Containers for the picker and the results -->
    <div id="scandit-barcode-picker"></div>
    <div id="scandit-barcode-result">Scanned an barcode to start</div>
    <!-- Button to continue scanning after a barcode was scanned -->
    <button
      class="btn btn-outline-primary"
      id="continue-scanning-button"
      onclick="continueScanning()">Continue Scanning
    </button>
    <script>
        // Helper function called when the "Continue Scanning" button is clicked
        function continueScanning() {
            if (picker) {
                continueButton.disabled = true;
                // Resume scanning
                picker.resumeScanning();
            }
        }

        // list of barcodes which become send to the django backend
        var codeSet = new Set();

        // Configure the library and activate it with a license key
        const licenseKey = "AZBtfzRfKkM4KFihPBqR2VAsEK9mKWY+emXD5RRi4jrQYPaav3PWUihmw8aIfGh4I0rSXzg72nDlIoCPHHKEOppjn16JdU5EdXgU44QlQLUURY1TTUl8GYFpAIvfEqZvSj8qh6oeytYfZ4mZrA/kmiZEIZGLl4X6g+T1iwkzYgS5YQaHv0cG59Ss+AJ0HK/eqfPqUzHv6TYIavfn1W9M0YRpGNS8EHSxntlyFWbGr6jxtqDTSLKt6bsomnmAgfZbuU1WY4yIx7XJoxNTe0rrY75YmD92CgWR0V2cB7rhF/Og6JrMuAuxuZvS3gqqzVDdDZxLVPOUGnuUvbm8MdkwR1bAT5jNuGyEJAbJpRoaiDlACnXjcXVuId98Hv50WnkxJaPalZC3TSs0Krk29JC7VMzv1rHWAd1JbB9+yNzR8mIJA8Cf/f4tpH58HjKRWV0ZPRn3DNOs/R7LL/wEFbsB2mvElm3RmxktGyPIbKzIdkE9i5DOychBEOVBuJ7aUTW6mXqhsZS0uBbR2VITdUmTqmCZsS9kn3OsMItdhd/3XAKtMBVmrjIpUbPrMRDJZWoOJsCCgaRCBCE+qUDr67v2mcmMbvHGaK6mF8IE4F4+XxNz1A6Yl/4AX1hlgHu77HU/9qbmS+jn3ZyJt1DoYVfOQqKrTl0rbyk/3IF91KUix9yV7KwxjQ+oTh+vTe3DWDHurd6W+x9v5Xg1Kb88KHy9ri6t22gqknciypRQSiY8mrSRJjpBTspX9tmz8Zp6N40Fxp8aSbRPuPx2ZOqSZqTKa5DSUuwYtGVUbQvo8qnWs4iY1g+DIZH+k0A=";
        // const engineLocation = "build"; // the folder containing the engine
        // or, if using a CDN,
        const engineLocation = "https://unpkg.com/scandit-sdk/build"
        ScanditSDK.configure(licenseKey, { engineLocation: engineLocation });
        const scannerContainer = document.getElementById("scandit-barcode-picker");
        const resultContainer = document.getElementById("scandit-barcode-result");
        const continueButton = document.getElementById("continue-scanning-button");
        continueButton.disabled = true;
        continueButton.hidden = true;
        let picker;
        // Create & start the picker
        ScanditSDK.BarcodePicker.create(scannerContainer, {
                playSoundOnScan: false,
                vibrateOnScan: true
            })
            .then(barcodePicker => {
                picker = barcodePicker;
                // Create the settings object to be applied to the scanner
                const scanSettings = new ScanditSDK.ScanSettings({
                    enabledSymbologies: ["ean8", "ean13", "upca", "upce", "code128", "code39", "code93",
                        "itf"
                    ],
                    codeDuplicateFilter: 1000
                });
                picker.applyScanSettings(scanSettings);
                // If a barcode is scanned, show it to the user and pause scanning
                // (scanning is resumed when the user clicks "Continue Scanning")
                picker.onScan(scanResult => {
                    // pauseScanning is dissable so the button is not needed
                    // continueButton.hidden = false;
                    // continueButton.disabled = false;

                    // Function is disabled so user can scan several codes one
                    // after anither
                    picker.pauseScanning();
                    codeSet.add(scanResult.barcodes[0].data)
                    console.log(codeSet.values())
                    resultContainer.innerHTML = scanResult.barcodes.reduce((string, barcode) =>
                        string + `${ScanditSDK.Barcode.Symbology.toHumanizedName(barcode.symbology)}: ${barcode.data}<br>`,
                        '');
                    sendCodeToListView()
                });
                picker.onScanError(error => {
                    console.error(error.message);
                });
                picker.resumeScanning();
            })
            .catch(error => {
                alert(error);
            });
        //CSRF-Token
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
        }

        function sendCodeToListView(){
          var csrftoken = getCookie('csrftoken');
          const url = "/feedback/" + Array.from(codeSet).join(",") + "/"
          fetch(url,{
            method: 'POST',
            headers: {
              'Content-Type': 'json/application',
              'X-CSRFToken': csrftoken,
              },
            credentials: "include",
            })
          .then(res => res.json())
          .then(console.log);
          window.location.replace(url);
        };
    </script>
    <!-- <button
      class="btn btn-outline-primary"
      id="done-scanning-button"
      onclick="sendCodeToListView()">
      Done
    </button> -->
{% endblock %}
