{% extends "base.html" %}

{% block body %}
  {% if not_in_db %}
  <h2>Yeah 🎉 New Code(s) for the Database!</h2>
    {% for code in not_in_db %}
        <article class="media content-section mt-4">
          <div class="media-body">
            <h2><a class="article-title" href="{% url 'goodbuyDatabase:product_create' code %}">{{ code }}</a></h2>
            <a href="{% url 'goodbuyDatabase:product_create' code %}"class="btn btn-outline-info" name="button">Add Details</a>
          </div>
        </article>
    {% endfor %}
  {% else %}
    <h1>All scanned products are alread in the Database! Thanks for you effort!</h1>
  {% endif %}

  {% if allready_in_db %}
    <h2>Code(s) Already in Database!</h2>
    {% for product in allready_in_db %}
          <article class="media content-section mt-4">
            {% if product.image %}
            <img
              class="rounded-circle article-img" src="{{ product.image.url }}"
              alt="Pircture of User {{ product.name }}">
            {% endif %}
            <div class="media-body">
              <h2><a class="article-title" href="{% url 'goodbuyDatabase:product_detail' product.id %}">{{ product.name }}</a></h2>
              <a href="{% url 'goodbuyDatabase:product_detail' product.id %}"class="btn btn-outline-info" name="button">Show Product</a>
            </div>
        </article>
    {% endfor %}
  {% endif %}

  {% if is_paginated %}
    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
      {% endif %}
    {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
{% endblock body %}
