{% extends "base.html" %}
{% block body %}
  <article class="media content-section mt-4">
    {% if onbject.image %}
    <img
      class="rounded-circle" src="{{ object.image.url }}"
      alt="Pircture of Product: {{ product.name }}"
      style="height:150px; width:150px">
    {% endif %}
    <div class="media-body ml-3">
      <div class="article-metadata">
        <a class="mr-2" href="#">Added by {{ object.added_by.username }}</a>
        <small class="text-muted">{{ object.created|date:"F d, Y" }}</small>
        {% if user.is_staff %}
          <div class="">
            <a class="btn btn-outline-warning btn-sm mt-1 mb-1" href="{% url "goodbuyDatabase:product_update" object.id %}">Update</a>
            <a class="btn btn-outline-danger btn-sm mt-1 mb-1" href="{% url "goodbuyDatabase:product_delete" object.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.name }}</h2>
      <p class="article-content">{{ object.certificate }}</p>
      <a class="btn btn-outline-primary" href="{% url 'goodbuyDatabase:product_list' %}">Back to List</a>
    </div>
  </article>
{% endblock body %}
