{% extends "base.html" %}
{% block body %}
    <div class="content-section mt-4">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Product</legend>
                <div class="">
                  <img class="rounded-circle article-img" src="{{ object.image.url }}" style="height:150px">
                  <h2>Are you sure you want to delete the product "{{ object.name }}"</h2>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'goodbuyDatabase:product_detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock body %}
