{% extends "base.html" %}

{% block head %}
  <script
    defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"
    integrity="sha384-DJ25uNYET2XCl5ZF++U8eNxPWqcKohUUBUpKGlNLMchM7q4Wjg2CUpjHLaL8yYPH"
    crossorigin="anonymous">
  </script>

  <title>Products | GoodbuyDatabase</title>
{% endblock %}

{% block body %}
<div class="container">
  <h2>All Products in GoodbuyDatabase</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Corporation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in products%}
      <tr>
        <td>
          {% if product.image %}
            <a href="{{ product.image.url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}" style="height:100px"></a>
          {% else %}
            <span>No Image</span>
          {% endif %}
        </td>
        <td>{{ product.name}}</td>
        <td>{{ product.brand}}</td>
        <td>{{ product.corporation}}</td>
        <td>
          <form class="" action="{% url 'goodbuyDatabase:delete_product' product.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" name="submit" class='btn btn-outline-danger btn-small'>Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
