* {
  font-family: "Avenir";
}

logo {
    width: 100%;
    height: auto;
}

.home-title {
  margin-top: 100px;
  text-align: center;
}

.home-text {
  margin-left: 120px;
  margin-right: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.col-sm-6 {
  text-align: center;
}

#env {
  background: red;
}

#ani {
  background: blue;
}

#hum {
  background: green;
}

.col-sm-4 {
  text-align: center;
}

#total_rating h1 {
  text-align: center;
  font-size: 185px;
}

#product_name {
  font-size: 80px;
  padding-top: 3%;
  padding-left: 3%;
}

#body_block_happy {
  background-color: #3EC300;
}

#body_block_happy h1,h3,p {
  color: white;
}

#body_block_hurt {
  background-color: #FFB20F ;
}

#body_block_hurt h1 {
  color:white;
}

#body_block_dead {
  background-color: #F42B03;
}

#body_block_dead h1, h3, p {
  color:white;
}
