{% extends "base.html" %}

{% block head %}
  <title>Error</title>
{% endblock %}

{% block body %}
  {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
          <h1>ERROR</h1>
              <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endif %}
{% endblock %}
