{% extends "base.html" %}

{% block head %}

    <meta charset="UTF-8">
    <title>Scandit Web SDK</title>

    <!--
        Add the library, as explained on http://docs.scandit.com/stable/web/index.html
    -->
    <script src="https://unpkg.com/scandit-sdk"></script>
    <!-- or -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk"></script> -->
    <!-- or -->
    <!-- <script src="https://unpkg.com/scandit-sdk@1.0.5"></script> -->
    <!-- or -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/scandit-sdk@1.0.5"></script> -->
    <!-- or -->
    <!-- <script src="/node_modules/scandit-sdk/build/browser/index.min.js"></script> -->


{% endblock %}

{% block body %}
<div class="container">
    <!-- Containers for the picker and the results -->
    <div id="scandit-barcode-picker"></div>
    <div id="scandit-barcode-result">No codes scanned yet</div>
    <!-- Button to continue scanning after a barcode was scanned -->
    <button class="btn btn-outline-primary" id="continue-scanning-button" onclick="continueScanning()">Continue Scanning</button>
    <script>
        // Helper function called when the "Continue Scanning" button is clicked
        function continueScanning() {
            if (picker) {
                continueButton.disabled = true;
                // Resume scanning
                picker.resumeScanning();
            }
        }
        // Configure the library and activate it with a license key
        const licenseKey = "AUwt5greF5/yPiJAfDUxxJ0RXTI1JkVRulhTJ2Vls1IoXp5Arm4nPIVVHo2vGQB0gHn6bQc1yd3/ekrdqB6Su8NEDEKlUpLyJnAn5jgFbASwRGngxGo1a8NLEiEHDz4kAhViXPQJlPEZsWj7yIUtIVcEgQfF/oe6Nsf1vsnZRZJ+2GYiGQ+G4gMQd4Ff/pzMaO0U7aCkR03HU2UEmzWOFEMwZKw/+xmiM92P+t69iIt9E364pd1mE/naoqoVAZk6SMGaBIPS7luMhFjMPVjzCkC3P9XFG6mV+om7nf8UX9UcADJtjWBCDDVIl0DncfuIUy7m4FylgmZ1RZ6bb7Fb0aOy9nCPAvpqca6IjVC8c65mIJQml9tUUcXyPjNxk6zISYkn139Ve1xrzze5HZn9rpbaXFbzWm9Zpc5a9tfRj2bRrUz2oGNBk1BYZsteicBoccvJfJ7gemc44dOzwXmECM2Z4UvFUbbnmBXCeZ17XU7c6Eeh9+m4D5Lk5y0yiWJzwno5IDkO9Pgd+TwBzeSmZ5ddn9PdlZBkVw0mnf/Yq59EqoMGrOhGaGWi9TOR81jFncTnPZg+1OWLZmTw31Hwk0nKjk85yN2eHOhsKiviST1MLxGaIiP1IHWn7k8EF/ujMC2RuLnxPUeE2c3wVbfJ9jK7ZshXmLaiJ2+zRv7GhlDyomN3EvSUFlCCWBYRoFt258QyNUwJfhyjHbgU563hFr/DPpmURAUusSY+G4yZ/BsPwZqrLYW3S1cUsgWer4y6x8opiMh01mXP/bDs/9L8z3OBAE3wlWMkYqVZcI026ux65Y4dDTXd";
        // const engineLocation = "build"; // the folder containing the engine
        // or, if using a CDN,
        const engineLocation = "https://unpkg.com/scandit-sdk/build"
        ScanditSDK.configure(licenseKey, { engineLocation: engineLocation });
        const scannerContainer = document.getElementById("scandit-barcode-picker");
        const resultContainer = document.getElementById("scandit-barcode-result");
        const continueButton = document.getElementById("continue-scanning-button");
        continueButton.disabled = true;
        continueButton.hidden = true;
        let picker;
        // Create & start the picker
        ScanditSDK.BarcodePicker.create(scannerContainer, {
                playSoundOnScan: true,
                vibrateOnScan: true
            })
            .then(barcodePicker => {
                picker = barcodePicker;
                // Create the settings object to be applied to the scanner
                const scanSettings = new ScanditSDK.ScanSettings({
                    enabledSymbologies: ["ean8", "ean13", "upca", "upce", "code128", "code39", "code93",
                        "itf"
                    ],
                    codeDuplicateFilter: 1000
                });
                picker.applyScanSettings(scanSettings);
                // If a barcode is scanned, show it to the user and pause scanning
                // (scanning is resumed when the user clicks "Continue Scanning")
                picker.onScan(scanResult => {
                    continueButton.hidden = false;
                    continueButton.disabled = false;
                    sendGtin(scanResult.barcodes[0].data);
                    picker.pauseScanning();
                    console.log(scanResult.barcodes[0].data)
                    sendGtin(scanResult.barcodes[0].data)
                    resultContainer.innerHTML = scanResult.barcodes.reduce((string, barcode) =>
                        string + `${ScanditSDK.Barcode.Symbology.toHumanizedName(barcode.symbology)}: ${barcode.data}<br>`,
                        '');
                });
                picker.onScanError(error => {
                    console.error(error.message);
                });
                picker.resumeScanning();
            })
            .catch(error => {
                alert(error);
            });
        //CSRF-Token
        function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
        }
        function sendGtin(barcode){
            // alert(barcode);
            var csrftoken = getCookie('csrftoken');
            const url = "gtin/add/" + barcode
        fetch(url,{
                    method: 'GET',
                    body: JSON.stringify(barcode),
                    headers: {
                            'Content-Type': 'json/application',
                            'X-CSRFToken': csrftoken,
                    },
                    credentials: "include",
        })
        .then(res => res.json())
        .then(console.log);
        window.location.replace(url);
        };
    </script>
</div>
{% endblock %}
