{% extends "foundation.html" %}
{% block head %}
<title>LogoGrab WebScanner</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script src="https://www.logograb.com/webscanners/js/jquery-logograb.webscanner.min.js">
</script>
{% endblock %}
{% block body %}

  <div class="wrapper">
  <div id="stage_grab">
  <div class="container">
      <button id="logoGrabWebScannerButton">Tap to grab</button>
      <div id="stage_result"></div>
  </div>
  <br/><br/>
  </div>
  </div>
{% for product in products %}
  <p>{{product.id}}</p>
  <p>{{product.name}}</p>
  <p>{{product.logo}}</p>
  <p>{{product.wiki}}</p>
  <p>{{product.gtin}}</p>
  <p>{{product.image}}</p>
  <p>{{product.group}}</p>
  <p>{{product.brand}}</p>
  <p>{{product.concern}}</p>
  <p>{{product.main_category}}</p>
  <p>{{product.sub_category}}</p>
  <p>{{product.created}}</p>
  <p>{{product.updated}}</p>
{% endfor %}
  <script>
  $('#logoGrabWebScannerButton').logoGrabWebScanner({
   developerKey: 'nb9n3ra9fpmrk0u0binh2b03jr3acq510tqhldmr',
   onInputImage: function(imageData) {
    // Callback invoked after the image has been uploaded to the device
   },
   onStart: function() {
    // Callback invoked before the image is uploaded to the server
   },
   onEnd: function(response) {
    // Callback invoked when the response JSON is returned
    if (!response.logoName)
     $('#stage_result').html("No result");
    else
     $('#stage_result').html(response.logoName);
    }
   }
  );
  print("hello")
     // + response.logoName

  fetch("http://127.0.0.1:8000//mvpLogoGrab/data/?name=Barilla",{
        method: "GET", // *GET, POST, PUT, DELETE, etc.
        headers: {
            "Content-Type": "application/json",
            // "Content-Type": "application/x-www-form-urlencoded",
        },
        body: JSON.stringify(response.logoName), // body data type must match "Content-Type" header
    })
    .then(response => response.json()); // parses JSON response into native Javascript objects 
  </script>
{% endblock %}  
