{% extends "foundation.html" %}
{% block head %}
<title>LogoGrab WebScanner</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script src="https://www.logograb.com/webscanners/js/jquery-logograb.webscanner.min.js">
</script>
{% endblock %}
{% block body %}
<div class="container">  
    <button id="btn-snap" onclick="snap()">Take screenshot</button>      
    <video autoplay="true" id="videoElement"></video>
    <canvas id="canvas" width="364" height="204"></canvas>
    </div>

  <div class="wrapper">
  <div id="stage_grab">
  <div class="container">
      <button id="logoGrabWebScannerButton">Tap to grab</button>
      <div id="stage_result"></div>
  </div>
  <br/><br/>
  </div>
  </div>
  <script src="{% static 'script.js' %}">
 
</script>
  
{% endblock %}  

