{% extends "foundation.html" %}
{% block head %}
<title>Snap</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

{% endblock %}
{% block body %}
<div class="container" id="wrapper">
<div class="container">  
        <video autoplay="true" id="videoElement"></video>
        <canvas id="canvas" height="300px" width="300px"></canvas>
</div>
<div class="container" id="btn-container">
        {% load static %}
        <a id="btn-snap" onclick="snap()"><img src="{% static 'pics/Snap.png' %}"></a>
</div>
</div>
<script src="{% static 'snap.js' %}">
</script>
  
{% endblock %}  

