{% extends "foundation.html" %}
{% block head %}
<title>Upload</title>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script src="https://www.logograb.com/webscanners/js/jquery-logograb.webscanner.min.js">
</script>
{% endblock %}
{% block body %}
<div id="stage_grab">    
    <button id="logoGrabWebScannerButton">Tap to grab</button>
</div>
<div id="stage_result"></div>
<script src="{% static 'upload.js' %}">
</script>
{% endblock %}  